{% extends "base.html" %}
{% block title %}Models{% endblock %}
{% block content %}




<marquee style="background-color: red;" onmouseover="stop()" onmouseout="start()" behavior="scroll" direction="left">
    {% for n in nD %}
    <a style="padding-right: 16px;color: white;font-weight: bold;height: 100%;line-height: 3;"
        href="{% url 'news' n.News_slug %}">{{n.News_title | safe}}?</a>
    {% endfor %}
</marquee>

<div class="container" id="divMain">

    <!-- Creating A Database From UserInput -->
    <div class="container">
        <h1 style="margin-top: 24px;">Taking User Input To Store In DataBase</h1>

        {% if messages %}
        {% for message in messages %}

        {% if message.tags %}
        <div class="alert alert-{{message.tags}}" role="alert">
            {% else %}
            <div class="alert alert-primary" role="alert">
                {% endif %}

                {% if 'safe' in message.tags %}
                {{ message|safe }}
                {% else %}
                {{message}}
                {% endif %}
            </div>
            {% endfor %}

            {% endif %}

            <form method="post">
                {% csrf_token %}
                <label style="margin-top: 14px;" for="name">Name: </label>
                <input class="form-control" type="text" placeholder="Enter Your Name" name="name" required>

                <label style="margin-top: 14px;" for="name">Title: </label>
                <input class="form-control" type="text" placeholder="Enter Your Title" name="title" required>

                <label style="margin-top: 14px;" for="name">Desc: </label>
                <input class="form-control" type="text" placeholder="Enter Your Desc" name="desc" required>

                <button style="margin-top: 14px;" type="submit" class="btn btn-outline-success">Submit</button>

            </form>
        </div>




        <!-- For Evaluating All Values At One Using Objects.all() -->
        <div style="margin-top: 24px;">
            {% if tD %}
            <div class="container">
                <!-- Example row of columns -->
                {% for nV in tD %}
                <div class="row">
                    <div class="col-md-4" style="margin-top: 24px;">
                        <h2 name="{{nV.Name}}">{{nV.Name | safe}}</h2>
                        <h3>{{nV.Title | safe}}</h3>
                        <p>
                            {{ nV.Desc | safe }}
                        </p>
                        <p>
                        </p>
                        <a href="{% url 'edit' nV.id %}" class="btn btn-outline-info btn-sm">Edit</a>
                        <button class="btn btn-outline-danger btn-sm" data-toggle="modal"
                            data-target="#exampleModalCenter2">Delete</button>
                    </div>
                </div>











                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Are You Sure?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                This Process Is Undone Press Close To Dismis The Process!
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a href="{% url 'delete' nV.id %}" class="btn btn-outline-danger">Confirm Delete</a>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
            {% else %}
            <h3>There is no data in the database</h3>
            {% endif %}
        </div>


        {% if tD %}
        {% if lastpage > 1 %}




        <div class="container" style="margin-top: 36px;">
            <nav aria-label="...">
                <ul class="pagination justify-content-end">

                    {% if tD.has_previous %}
                    <li class="page-item"> <a class="page-link" href="/?page=1"> First </a>
                    </li>
                    <li class="page-item"> <a class="page-link" href="/?page={{tD.previous_page_number}}"> Previous </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#"> First </a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#"> Previous</a>
                    </li>

                    {% endif %}


                    {% for pagenum in tP %}
                    {% if pagenum == tD.number %}
                    <li class="page-item active"><a class="page-link" href="/?page={{pagenum}}">{{ pagenum }}</a>
                    </li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="/?page={{pagenum}}">{{ pagenum }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}





                    {% if tD.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="/?page={{tD.next_page_number}}">Next</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>

                    {% endif %}

                    {% if lastpage == tD.number %}

                    <li class="page-item disabled">
                        <a class="page-link" href="#">Last</a>
                    </li>

                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="/?page={{lastpage}}">Last</a>
                    </li>

                    {% endif %}

                </ul>
            </nav>
        </div>
        {% endif %}

        {% endif %}


    </div>

    <!-- <script>
    let pass = "a";
    let divmain = document.getElementById("divMain");
    divmain.style.visibility = "hidden";
    function passwordCheck() {
        var password = prompt("Please enter the password.");
        if (password === pass) {
            divmain.style.visibility = "visible";
        } else {
            divmain.style.visibility = "visible";
            divmain.innerHTML = "<h1>Wrong Password Please Refresh The Page</h1>";
        }
    }
    window.onload = passwordCheck;
</script> -->
    {% endblock %}
